// Carousel
#carouselExampleCaptions {
  max-width: 800px;
  margin: 20px auto 0 auto;

  img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }

  .slide-content {
    display: flex;
    justify-content: center;
  }
}