// Flag
header {
  text-align: center;
}

.banderamid {
  height: 40px;
  background-color: white;
}

.sol {
  display: flex;
  justify-content: center;
  position: relative;
  top: -20px;
}

.banderabottomtop {
  background-color: #74ACDF;
  height: 40px;
  align-content: center;
}